{% extends 'base.html' %}

{% load static %}

{% block additional %}
<link rel="stylesheet" media="print" onload="this.media='all'" href="{% static 'css/modal.css' %}">

{% endblock %}


{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="site-block__wrapper">
	{% if username != None %}
	<div class="profile-info">
		Доступы которые действуют в данный момент:
		<ul>
			{% for machine in machines %}
			<li>{{machine}}</li>
			{% endfor %}
		</ul>

	</div>
	{% endif %}

	{% if messages %}
	{% for message in messages %}
	<div class="profile-info">
		{{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}

	<div class="profile-action">
		{% if username == user.username %}
		<a href="/qr">Создать QR код</a>
		<a href="/accesses">Доступы к станкам</a>
		{% endif %}

	</div>
	{% if user.is_teacher %}
	<div class="teacher-action">
		<a data-modal="give-permission-modal" class="action-button open-modal">Выдать права</a>
		<a data-modal="revoke-permission-modal" class="action-button open-modal">Забрать права</a>
		{% if username == user.username %}
		<a href="/machines">Управление станками</a>
		{% endif %}
	</div>
	{% endif %}

	{% if messages %}
	{% for message in messages %}
	<div class="profile-info">
		{{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}