{% extends 'base.html' %}

{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="site-block__wrapper">
	{% if username != None %}
	<div class="profile-info">
		Имя пользователя: {{username}}<br>
		ФИО: {{last_name}} {{first_name}} {{middle_name}}<br>
		Группа: {{group}}<br>
		Статус: {{status}}
	</div>
	{% endif %}

	{% if messages %}
	{% for message in messages %}
	<div class="profile-info">
		{{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}

	<div class="profile-action">
		{% if username == user.username %}
		<a href="/qr">Создать QR код</a>
		{% endif %}
		{% if user.is_teacher %}
		<a href="/qr">Выдать права</a>
		{% endif %}
	</div>
	{% if messages %}
	{% for message in messages %}
	<div class="profile-info">
		{{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}
</div>


{% endblock %}