{% extends 'base.html' %}

{% load static %}

{% block css-additional %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="site-block__wrapper">
	{% if username != None %}
	<div class="profile-info">
		Имя пользователя: {{username}}<br>
		ФИО: {{last_name}} {{first_name}} {{middle_name}}<br>
		Группа: {{group}}<br>
		Статус: {{status}}
	</div>
	{% endif %}

	<div class="etst">

	</div>

	{% if messages %}
	{% for message in messages %}
	<div class="profile-info">
		{{ message|safe }}
	</div>
	{% endfor %}
	{% endif %}
</div>


{% endblock %}