body {
	display: flex;
	margin: 0;
	height: 100vh;
}

.qr-code img {
	width: 90vmin;
	image-rendering: pixelated;
}

.qr-code-time {
	font-size: 6vmin;
	padding: 10px;
	background-color: #efefef;
	border-radius: 0 0 10px 10px;
}

.container {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
}